.header {
  display: grid;
  grid-template-columns: 25% 25% 30% 20%;
}
#logo{
  margin-left: 1em;
  margin-top: 1em;
}

img {
    width: 200px;
    height: 80px;
  border-radius: 10px;
}

#money{
  font-family: "Typewriter Serial";
  font-size: 2em;
  margin-top: 1.5em;
  margin-left:auto;
}
#user{
  font-family: "Typewriter Serial";
  font-size: 1.4em;
  margin-top: 0.5em;
  margin-right:0.2em;
}
