<div *ngIf="showManagers" class="modal">
  <div><h1 class="title">Managers make you feel better !</h1></div> <div>
  <div *ngFor="let manager of world.managers.pallier">
    <div *ngIf="!manager.unlocked" class="managerslayout">
      <div>
        <div class="logo"><img class="round" [attr.src]="server+manager.logo" /> </div>
      </div> <div>
      1].name }} </div>
      <div class="managername"> {{ manager.name}} </div>
      <div class="managercible"> {{ world.products.product[manager.idcible-
        <div class="managercost"> {{ manager.seuil}} </div> </div>
      <div>
        <div class="hirebutton" (click)="hireManager(manager)"
             [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !</div> </div>
    </div>
  </div>
