body{
  background-image: url("../assets/background.jpeg");
  background-size: cover;
}

.main{
  display: grid;
  grid-template-rows: 20% 80%;
  width: 87%;
}

.product {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 60%);
  column-gap: 30px;
}
.menu_gauche{
  grid-column: 1;
  grid-row: 1/4;
}

.modal {
  position: fixed; /* reste en place */
  z-index: 2; /* au dessus du reste */
  width: 800px; /* largeur */
  height: 400px; /* hauteur */
  overflow: auto; /* barre de scroll si besoin */ background-color: white; /* opaque */
  border: solid;
  top:10; /* a 10% du haut */ left:20%; /* a 20% de la gauche */
}

img{
  width: 70px;
  height: auto;
  margin-left: 10px;
}
.title{
  text-align: center;
}
button{
  margin-right: 10px;
}
.managerslayout{
  display: table;
  margin: 0 auto;
  border: 1px solid black;
}
.managerslayout:hover{
  border-radius: 10px;
  background-color: lightblue;
}
.logo{
  display: table-cell;
  vertical-align: middle;
}

.managername{
  margin-top: 10px;
  font-weight: bold;
  color: #0ca6e3;
}

.managercible{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size:85%;
  color : grey;
}
.managercost{
  margin-bottom: 10px;
}
.hirebutton{
  border: 1px solid black;
}

.hirebutton:hover{
  cursor: pointer;
}

.hirebutton{
  border: 1px solid black;
}

.hirebutton:hover{
  cursor: pointer;
}
