<div id="username" *ngIf="!isUsername">
  Username :<input type="text" [(ngModel)]="username"/>
  <button mat-raised-button color="primary" (click)="onUsernameRandom()">Random</button>
  <button mat-raised-button color="primary" (click)="onUsernameChanged()">Valider</button>
</div>

<body *ngIf="isLoaded && isUsername">
<app-header [worldMoney]="world.money"></app-header>
<button id="multiplicateurButton" (click)="multiplicateurAchatProduit()">{{MultiplicateurButton}}</button>

<div class="main">
  <div class="menu_gauche">
    <app-menu-gauche [badgeManager]="nombreManagerPouvantEtreRecrute"
                     (clickOnManager)="onClickManager()"
                     (clickOnUnlocks)="onClickUnlocks()"></app-menu-gauche>
  </div>
  <div class="product">
    <div *ngFor="let currentProduct of products">
      <app-product [worldMoney]="world.money" [qtmulti]="qtmulti" [prod]="currentProduct" class="product col-md-6"
                   (notifyProduction)="onProductionDone($event)" (notifyOnBuy)="onBuyDone($event)"></app-product>
    </div>
  </div>
  <div *ngIf="showUnlocks" class="modal">
    <div><h1 class="title">Les unlocks</h1></div>
    <div>
      <button class="closebutton" mat-raised-button color="primary" (click)="showUnlocks = !showUnlocks">Fermer</button>
      <div *ngFor="let product of products">
        <div *ngFor="let pallier of product.palliers.pallier">
          <div class="layout" *ngIf="!pallier.unlocked">
            <div>
              <div class="logo"><img class="round" [attr.src]="server+pallier.logo"/></div>
            </div>
            <div class="name">{{ pallier.name}} </div>
            <div class="cible">Need {{ pallier.seuil}} {{ product.name}}s </div>
          </div>
        </div>
      </div>
      </div>
  </div>
  <div *ngIf="showManager" class="modal">
    <div><h1 class="title">Les managers !</h1></div>
    <div>
      <button class="closebutton" mat-raised-button color="primary" (click)="showManager = !showManager">Fermer
      </button>
      <div *ngFor="let manager of world.managers.pallier">
        <div class="layout" *ngIf="!manager.unlocked">
          <div>
            <div class="logo"><img id="imgmanager" class="round" [attr.src]="server+manager.logo"/></div>
          </div>
          <div class="name">{{ manager.name}} </div>
          <div class="cible">Takes charge of {{ world.products.product[manager.idcible - 1].name}}s</div>

          <div class="hirebutton" (click)="onRecruterManager(manager)"
               [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !</div>

        </div>
      </div>
    </div>
    </div>
  </div>
  <div id="deleteWorld">
    <button mat-raised-button color="primary" (click)="deleteWorld()">Delete World</button>
  </div>
