body{
  background-image: url("../assets/background.jpeg");
  background-size: cover;
}

.main{
  display: grid;
  grid-template-rows: 20% 80%;
  width: 87%;
}
#multiplicateurButton{
  display: block;
  position: relative;
  cursor: pointer;

  width: 60px;
  height: 60px;
  margin: 0 240px;

  background-color: black;
  border: none;
  border-radius: 50%;


  font-size: 1.5em;
  font-family: "Work Sans", sans-serif;
  color : #FFFFFF;
  text-align: center;

  &:hover {
    background-color: #FFFFFF;
    color: black;
    transition: background .3s 0.1s;
  }
}

.product {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 60%);
  column-gap: 30px;
}
.menu_gauche{
  grid-column: 1;
  grid-row: 1/4;
}

.modal {
  position: fixed; /* reste en place */
  z-index: 2; /* au dessus du reste */
  width: 650px; /* largeur */
  height: 650px; /* hauteur */
  overflow: auto; /* barre de scroll si besoin */
  background-color: white; /* opaque */
  border: solid;
  top:10%; /* a 10% du haut */ left:25%; /* a 20% de la gauche */
}

img{
  width: 70px;
  height: auto;
  margin-left: 10px;
}
.title{
  text-align: center;
  font-family: "Typewriter Serial";
  color: black;
}
button{
  margin-right: 10px;
}
.layout{
  display: grid;
  grid-template-rows: 1fr fit-content(20px);
  grid-template-columns: 1fr 1fr 2fr;
  grid-gap: 1em;
  width: auto;
}
.layout:hover{
  border-radius: 10px;
  background-color: lightblue;
}
.logo{
  grid-row: 1;
  grid-column: 1;
}
#imgmanager{
  height: 100%;
  width: 100%;
}

.name{
  grid-column: 2;
  grid-row: 1;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #5D00FF;
}

.cible{
  grid-column: 2;
  grid-row: 1;
  margin-top: 30px;
  font-size:85%;
  text-align: center;
  color : grey;
}

.hirebutton{
  border: 1px solid black;
  background-color: #5D00FF;
  color: #FFFFFF;
  font-family: "Typewriter Serial";
  text-align: center;
  border-radius: .4em;
  margin-top: 30px;
  width: 20%;
  height: 20px;
}

.hirebutton:hover{
  cursor: pointer;
  background-color: #FFFFFF;
  color: #5D00FF;
  transition: 0.3s;
  border-color: #5D00FF;

}
.closebutton{
  position: sticky;
  margin-top: -100px;
  margin-left: 560px;
}
