<div class="product">
  <div id="logo">
    <img class="img" (click)="startFabrication()" [src]="'http://localhost:8080/'+product.logo" [alt]="product">
  </div>
  <div id="progressbar">
    <mat-progress-bar id="barProgressbar" [value]="progressbarvalue"></mat-progress-bar>
  </div>
  <div id="revenu">{{product.revenu}} $</div>
  <div id="quantite">{{product.quantite}} {{product.name}}</div>
  <div id="button">
    <button id="buyButton" (click)="onBuy()" [disabled]="pauvre">Buy x {{_qtmulti}}</button>
  </div>
  <div id="cout">{{product.cout | number: '1.0-2'}} $</div>

  <div id="temps">{{product.timeleft | date: 'mm:ss'}} s</div>
</div>
